<h3>Integracion</h3>
<h4>Regiones</h4>
<select name="regiones" id="regiones" (click)="getProvincia($event)">
  <option *ngFor="let item of regiones; let i = index" [value]="item.codigo">
    {{regiones[i].nombre}}
  </option>
</select>

<h4>Provincias</h4>
<select name="provincias" id="provincias" (click)="getComuna($event)">
  <option *ngFor="let item of provincia; let i = index" [value]="item.codigo">
    {{provincia[i].nombre}}
  </option>
</select>

<h4>Comunas</h4>
<select name="comuna" id="comuna">
  <option *ngFor="let item of comuna; let i = index" [value]="item.codigo">
    {{comuna[i].nombre}}
  </option>
</select>